<header class="header">
  <div class="container header-container">
    <nav class="header-nav" aria-labelledby="nav">
      <a href="/" class="header-logo">
        <span class="logo-wrapper">
          <img class="header-img floating" src="" alt="logo" />
          <span class="logo-ware"></span>
        </span>
        Yacht Adventures
      </a>
      <!-- End logo -->
      <ul class="header-nav-list list">
        <li class="header-item">
          <a href="#about" class="header-menu-link">
            <span class="button-bottom-line"></span>
            About
          </a>
        </li>
        <li class="header-item">
          <a href="#yachts" class="header-menu-link">
            <span class="button-bottom-line"></span>
            Yachts
          </a>
        </li>
        <li class="header-item">
          <a href="#reviews" class="header-menu-link">
            <span class="button-bottom-line"></span>
            Reviews
          </a>
        </li>
      </ul>
      <button
        class="menu-toggle mobile-menu-toggle-icon js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu-icon" height="24" width="24">
          <use href=""></use>
        </svg>
      </button>
    </nav>
    <div class="separator"></div>
  </div>
</header>
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="container header-container">
    <nav class="header-nav" aria-labelledby="nav-mobile-menu">
      <a href="/" class="header-logo">
        <img src="" width="23" height="23" alt="logo" />
        Yacht Adventures
      </a>
      <button class="menu-toggle js-close-menu">
        <svg
          class="menu-close-icon"
          fill="currentColor"
          viewBox="0 0 20 20"
          width="24"
          height="24"
        >
          <use href=""></use>
        </svg>
      </button>
    </nav>
  </div>

  <ul class="mobile-menu">
    <li><a href="#about" class="link js-menu-link">About</a></li>
    <li><a href="#yachts" class="link js-menu-link">Yachts</a></li>
    <li><a href="#about" class="link js-menu-link">Reviews</a></li>
  </ul>
</div>
